<app-main-slider [items]="productsFeatured"></app-main-slider>

    <!-- Product Widgets-->
    <section class="container padding-bottom-2x padding-top-3x">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <app-product-widget [widgetTitle]="'New Arrivals'" [products]="productsNewArrivals"></app-product-widget>
            </div>
            <div class="col-md-4 col-sm-6">
                <app-product-widget [widgetTitle]="'On Sale'" [products]="productsOnSale"></app-product-widget>
            </div>
            <div class="col-md-4 col-sm-6">
                <app-product-widget [widgetTitle]="'Best Rated'" [products]="productsBestRated"></app-product-widget>
            </div>
        </div>
    </section>

    <app-promo *ngIf="promos" [promo]="promos[0]"></app-promo>

    <!-- Services-->
    <!-- <section class="container-fluid padding-top-2x services"> -->
    <section class="container-fluid padding-top-2x services">
      <div class="row">
        <div class="col-md-3 col-sm-6 text-center mb-30">
          <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3"
            src="https://static.wixstatic.com/media/0a3b28_7bac99e84b2044e988bd6879208994ff~mv2.png/v1/fill/w_152,h_165,al_c,q_85,usm_0.66_1.00_0.01/color.webp"
            alt="Register">
          <h6>Register</h6>
          <p class="text-muted margin-bottom-none">Register for an account with us here. Once we have approved your account
            head over to our shop and just start
            PICKIN N ROLLIN!</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center mb-30">
          <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3"
            src="https://static.wixstatic.com/media/0a3b28_7bac99e84b2044e988bd6879208994ff~mv2.png/v1/fill/w_152,h_165,al_c,q_85,usm_0.66_1.00_0.01/color.webp"
            alt="Browse">
          <h6>Browse</h6>
          <p class="text-muted margin-bottom-none">Browse our collection of Premium Grade Cannabis, Concentrates, and Tasty
            Edibles!</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center mb-30">
          <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3"
            src="https://static.wixstatic.com/media/0a3b28_7bac99e84b2044e988bd6879208994ff~mv2.png/v1/fill/w_152,h_165,al_c,q_85,usm_0.66_1.00_0.01/color.webp"
            alt="Delivery">
          <h6>Same Day delivery</h6>
          <p class="text-muted margin-bottom-none">Get Pick N Roll's Premium products within a few hours straight to your
            doorsteps, with our same-day delivery service. Check out our delivery zones here!</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center mb-30">
          <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3"
            src="https://static.wixstatic.com/media/0a3b28_7bac99e84b2044e988bd6879208994ff~mv2.png/v1/fill/w_152,h_165,al_c,q_85,usm_0.66_1.00_0.01/color.webp"
            alt="Mailing">
          <h6>Express Mailing</h6>
          <p class="text-muted margin-bottom-none">Pick N Roll flat rate express mailing fee makes it easy for you to get
            quality product straight to your door step. Canada Wide!</p>
        </div>
      </div>
    </section>
    <section class="container padding-top-2x site-summary">
      <div class="row">
        <div class="col-md-12 text-center mb-20">
          <h1>TO OUR VALUED CUSTOMERS!</h1>
          <h5>SIGN UP TODAY AND START SAVING!</h5>
          <p>First-time patients spend $100 and receive 7g of premium grade cannabis, a pack of Space Out Gummies and
            Premium grade Pre-rolled joints packed with high-quality BUD (NO SHAKE!!!) $84 value
          </p>
          ​<br />
          <p>Ordering Great Cannabis products online has never been easier. After registering an account, simply add your
            products in the cart and complete the check-out process!
          </p>
          ​<br />
          <h5>SHIPPING</h5>
          <p>Canada Wide Express mailing straight to your doorstep
            All orders are provided with a tracking number when you order cannabis online
          </p>
          ​<br />
          <p>Free Shipping over $150!
            $15 flat rate for shipping for orders under $150

            Minimum order $80
          </p>
          ​<br />
          <h5>LOCAL SAME DAY DELIVERY</h5>
          <p>Here at Pick N Roll we thrive on Quick and friendly service, check out our delivery zones, and route time here.
            Free Delivery over $100 / $10 flat rate / Minimum order $80
          </p>
          <br />
          <h5>PAYMENT</h5>
          <p>For local same-day delivery cash only.
            We accept E-Transfers and BTC at this time for shipping orders.
          </p>
          <br />
          <h5>DAILY ROUTE TIMES</h5>
          <p>12:00PM – 3:00PM
            3:00PM – 6:00PM
            6:00PM – 9:00PM
          </p>
        </div>
      </div>
    </section>
    <section class="container-fluid padding-top-2x padding-bottom-1x refer-friend">
      <div class="row">
        <div class="col-md-12 text-center mb-30">
          <h1>REFER A FRIEND</h1>
          <h4>For EVERY Friend You Refer, Get a $25 OFF Coupon</h4>
          <button class="btn btn-primary margin-bottom-none" type="submit">Claim Your Coupon</button>
        </div>
      </div>
    </section>
