@import "~scss/helpers/variables";
@import "~scss/helpers/mixins";

.related-product {
  width: 49%;
  border-width: 2px !important;
  a {
    text-decoration: none;
  }
  &:hover {
    border: 2px solid $brand-primary;
  }
  img {
    margin: 6px;
  }
  &.active-product{
    border: 2px solid $brand-primary;
  }
}
