<nav class="site-menu">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/home" href="">
        <span>Home</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="all/products" href="">
        <span>Shop</span>
      </a>
      <ul class="sub-menu">
        <li >
          <a routerLink="/all" href="">
            <span>All [30]</span>
          </a>
        </li>
        <li>
          <a routerLink="/sale" href="">
            <span>Sale [25]</span>
          </a>
        </li>
        <li>
          <a routerLink="/flower" href="">
            <span>Flower</span>
          </a>
        </li>
        <li>
          <a routerLink="/edibles" href="">
            <span>Edibles</span>
          </a>
        </li>
        <li>
          <a routerLink="/concentrates" href="">
            <span>Concentrates</span>
          </a>
        </li>
        <li>
          <a routerLink="/accessories" href="">
            <span>Accessories</span>
          </a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a routerLink="local/products" href="">
        <span>Local Delivery</span>
      </a>

    </li>
    <li routerLinkActive="active">
      <a routerLink="flower/products" href="">
        <span>Flower</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="edibles/products" href="">
        <span>Edibles</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="concentrates/products" href="">
        <span>Concentrates</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="2/products" href="">
        <span>More</span>
      </a>
    </li>
    <!-- <li routerLinkActive="active">
      <a routerLink="/cart" href="">
        <span>Cart</span>
      </a>
    </li> -->
    <li *ngIf="user && user.roles?.admin" routerLinkActive="active">
      <a routerLink="/admin/add" href="">
        <span>Add Product</span>
      </a>
    </li>
    <!-- <li routerLinkActive="active">
      <a href=""><span>Dropdown</span></a>
      <ul class="sub-menu">
        <li routerLinkActive="active">
          <a href="#"><span>Add Product</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="2/products" href="#"><span>Add Product</span></a>
        </li>
        <li routerLinkActive="active">
          <a href="#"><span>Add Product</span></a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href=""><span>Dropdown</span></a>
      <ul class="sub-menu">
        <li routerLinkActive="active">
          <a href="#"><span>Add Product</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="2/products" href="#"><span>Add Product</span></a>
        </li>
        <li routerLinkActive="active">
          <a href="#"><span>Add Product</span></a>
        </li>
      </ul>
    </li> -->
  </ul>
</nav>
