<!-- Main Navigation-->
<nav class="site-menu">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/home" href="">
        <span>Home</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="all/products" href="">
        <span>Products</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="flowery/products" href="">
        <span>Jewelry</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="eat/products" href="">
        <span>Backpacks</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="bud/products" href="">
        <span>Glasses</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/cart" href="">
        <span>Cart</span>
      </a>
    </li>
    <li *ngIf="user && user.roles.admin" routerLinkActive="active">
      <a routerLink="/admin/add" href="">
        <span>Add Product</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a href=""><span>Dropdown</span></a>
      <ul class="sub-menu">
        <li routerLinkActive="active">
          <a href="#"><span>Add Product</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="2/products" href="#"><span>Add Product</span></a>
        </li>
        <li routerLinkActive="active">
          <a href="#"><span>Add Product</span></a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href=""><span>Dropdown</span></a>
      <ul class="sub-menu">
        <li routerLinkActive="active">
          <a href="#"><span>Add Product</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="2/products" href="#"><span>Add Product</span></a>
        </li>
        <li routerLinkActive="active">
          <a href="#"><span>Add Product</span></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
