<nav class="site-menu">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/home" href="">
        <span>Home</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a href="" style="pointer-events: none;cursor: pointer;">
        <span>Shop</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a routerLink="/0/all/products" href="">
            <!-- <span>All [30]</span> -->
            <span>All</span>
          </a>
        </li>
        <li>
          <a routerLink="/1/sale/products" href="">
            <!-- <span>Sale [25]</span> -->
            <span>Sale</span>
          </a>
        </li>
        <li>
          <a routerLink="/2/flower/products" href="">
            <span>Flower</span>
          </a>
        </li>
        <li>
          <a routerLink="/3/edibles/products" href="">
            <span>Edibles</span>
          </a>
        </li>
        <li>
          <a routerLink="/4/concentrates/products" href="">
            <span>Concentrates</span>
          </a>
        </li>
        <li>
          <a routerLink="/5/accessories/products" href="">
            <span>Accessories</span>
          </a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="" routerLink="/7/localdelivery/products">
        <span>Local Delivery</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a href="" style="pointer-events: none;cursor: pointer;">
        <span>Flower</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a routerLink="/2/flower/products" href="">
            <span>All Flower</span>
          </a>
        </li>
        <li>
          <a routerLink="/6/indica/products" href="">
            <span>Indica</span>
          </a>
        </li>
        <li>
          <a routerLink="/9/sativa/products" href="">
            <span>Sativa</span>
          </a>
        </li>
        <li>
          <a routerLink="/8/hybrid/products" href="">
            <span>Hybrid</span>
          </a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="" style="pointer-events: none;cursor: pointer;">
        <span>Edibles</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a routerLink="/3/edibles/products" href="">
            <span>All Edibles</span>
          </a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="" style="pointer-events: none;cursor: pointer;">
        <span>Concentrates</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a routerLink="/4/concentrates/products" href="">
            <span>All Concentrates</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- <li routerLinkActive="active">
      <a routerLink="/cart" href="">
        <span>Cart</span>
      </a>
    </li> -->
    <li *ngIf="user && user.roles?.admin" routerLinkActive="active">
      <a routerLink="/admin/add" href="">
        <span>Add Product</span>
      </a>
    </li>
    <!-- <li routerLinkActive="active">
      <a href=""><span>Dropdown</span></a>
      <ul class="sub-menu">
        <li routerLinkActive="active">
          <a href="#"><span>Add Product</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="2/products" href="#"><span>Add Product</span></a>
        </li>
        <li routerLinkActive="active">
          <a href="#"><span>Add Product</span></a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href=""><span>Dropdown</span></a>
      <ul class="sub-menu">
        <li routerLinkActive="active">
          <a href="#"><span>Add Product</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="2/products" href="#"><span>Add Product</span></a>
        </li>
        <li routerLinkActive="active">
          <a href="#"><span>Add Product</span></a>
        </li>
      </ul>
    </li> -->
  </ul>
</nav>
