<!-- Site Footer-->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <!-- Contact Info-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Get In Touch With Us</h3>
          <p class="text-white">Phone: +1 123 456 7890</p>
          <p>
            <a class="navi-link-light" href="#">info@picknroll.co</a>
          </p>
          <a class="social-button shape-circle sb-facebook sb-light-skin" href="#">
            <i class="socicon-facebook"></i>
          </a>
          <a class="social-button shape-circle sb-twitter sb-light-skin" href="#">
            <i class="socicon-twitter"></i>
          </a>
          <a class="social-button shape-circle sb-instagram sb-light-skin" href="#">
            <i class="socicon-instagram"></i>
          </a>
          <a class="social-button shape-circle sb-google-plus sb-light-skin" href="#">
            <i class="socicon-googleplus"></i>
          </a>
        </section>
      </div>
      <div class="col-lg-4 col-md-6">
        <!-- About Us-->
        <section class="widget widget-links widget-light-skin">
          <h3 class="widget-title">About Us</h3>
          <ul>
            <li>
              <a href="#">About the Shop</a>
            </li>
            <li>
              <a href="#">Our Story</a>
            </li>
            <li>
              <a href="#">Services</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-lg-4 col-md-6">
        <!-- Account / Shipping Info-->
        <section class="widget widget-links widget-light-skin">
          <h3 class="widget-title">Account &amp; Shipping Info</h3>
          <ul>
            <li>
              <a href="#">Your Account</a>
            </li>
            <li>
              <a href="#">Shipping Rates & Policies</a>
            </li>
            <li>
              <a href="#">Refunds & Replacements</a>
            </li>
            <li>
              <a href="#">Taxes</a>
            </li>
            <li>
              <a href="#">Delivery Info</a>
            </li>
            <li>
              <a href="#">Affiliate Program</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <hr class="hr-light mt-2 margin-bottom-2x">
    <!-- <div class="row text-center">
      <form>
        <label for="subscribe-email">Subscribe</label>
        <input class="form-control" placeholder="Email Address" type="text" id="subscribe-email">
        <button class="btn btn-primary margin-bottom-none" type="submit">Submit</button>
      </form>
    </div> -->
    <!-- Copyright-->
    <p class="footer-copyright">© All rights reserved.
      <i class="icon-heart text-danger"></i>
      by Pick N Roll 2020
    </p>
  </div>
</footer>
