<app-search
  (onHideSearch)="showSearch = false"
  [showSearch]="showSearch"
  class="site-search-wrapper"
></app-search>
<!-- <app-navigation-main></app-navigation-main> -->
<!-- Toolbar-->
<!-- <div class="toolbar">
  <div class="inner">
    <div class="tools"> -->
      <div class="search">
        <i (click)="showSearch = true" class="icon-search"></i>
      </div>
      <!-- <app-toolbar-profie></app-toolbar-profie>
      <app-toolbar-cart></app-toolbar-cart> -->
    <!-- </div>
  </div>
</div> -->
