<section class="container-fluid" *ngIf="promo">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="fw-section rounded padding-top-4x padding-bottom-4x" [ngStyle]="{'background-image': 'url(' + promo.imageUrl + ')'}">
        <span class="overlay rounded" style="opacity: .35;"></span>
        <div class="text-center w-75" style="margin: 0 auto;">
          <h2 class="display-4 text-normal text-white text-shadow mb-1">{{ promo.preHeading }}</h2>
          <h2 class="display-2 text-bold text-white text-shadow">{{ promo.heading }}</h2>
          <h5 class="d-inline-block text-normal text-white text-shadow mb-4">{{ promo.afterHeading }}</h5>
          <br>
          <a class="btn btn-primary margin-bottom-none" href="{{ promo.link }}">{{ promo.buttonText }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
