<!-- Topbar-->
<div class="topbar">
  <div class="topbar-column">
    <a class="hidden-md-down" href="mailto:info@picknroll.co">
      <i class="icon-mail"></i>&nbsp; info@picknroll.co</a
    >
    <a class="hidden-md-down" href="tel:+11234567890">
      <i class="icon-bell"></i>&nbsp; +1 123 456 7890</a
    >
    <a
      class="social-button sb-facebook shape-none sb-dark"
      href="#"
      target="_blank"
    >
      <i class="socicon-facebook"></i>
    </a>
    <a
      class="social-button sb-twitter shape-none sb-dark"
      href="#"
      target="_blank"
    >
      <i class="socicon-twitter"></i>
    </a>
    <a
      class="social-button sb-instagram shape-none sb-dark"
      href="#"
      target="_blank"
    >
      <i class="socicon-instagram"></i>
    </a>
  </div>
  <div class="topbar-column">
    <div class="toolbar">
      <div class="inner">
        <div class="tools">
          <app-toolbar-profie></app-toolbar-profie>
          <app-toolbar-cart></app-toolbar-cart>
        </div>
      </div>
    </div>
  </div>
</div>
